<html data-bs-theme="dark">

<head>
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />

    <!-- Favicons  -->
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="apple-touch-icon" href="/public/apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#0d59ad">
    <link rel="manifest" href="/public/site.webmanifest" type="application/manifest+json">
</head>

<body>
    {% block header %}
    <header class="container mt-4 header">
        <div class="row">
            <div class="col-10 logo">
                <h1 class="mt-2"><a href="/">
                        <img src="/public/todonosso.png" alt="TodoNosso" height="32">{{ title }}</a>
                </h1>
            </div>
            <div class="col-2">
                <a href="/login" class="btn btn-primary" role="button">Login</a>
                <a href="/signup" class="btn btn-primary" role="button">Sign Up</a>
            </div>
        </div>
    </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>

</html>