{% extends "_base.html" %}
{% block header %}
<header class="container mt-4">
    <div class="row">
        <div class="col-10">
            <h1 class="mt-2"><a href="/">{{ title }}</a></h1>
        </div>
        <div class="col-2">
            <a href="/logout" class="btn btn-primary" role="button">Log Out</a>
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Account</h2>
            <h3>Email: {{email}}</h3>
        </div>
    </div>
</div>
{% endblock content %}