{% extends "_base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="display-4 mt-5 font-weight-bold">{{ title }}</h2>
        </div>
    </div>
</div>
{% endblock content %}